#RegisterFormDiv{
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 380px;
    outline:2px solid black;
    margin-left:600px;
    margin-top: 200px;
}

#RegisterFormDiv * {
    margin:10px;
}
#RegisterFormDiv button {
    width: 100px;
    margin-left: 120px;
}